.about-section {
  background: url("../assets/images/backgrounds/about.jpg") no-repeat center center;
  background-size: cover;

  min-height: 100vh;
  padding: 0rem 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}