html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: white;
}

special-header,
special-footer {
  display: block;
  width: 100%;
}

.video-page{
   background: url("../assets/images/index.png") no-repeat center center;
   background-size: cover;
}
.about-page{
    background: url("../assets/images/backgrounds/about.jpg") no-repeat center center;
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    background: #FFF6E8;
    padding: 0.6rem 1rem 0.6rem 1rem;
}
.nav-button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-links-group {
    display: flex;
    gap: 1.6rem;
}
.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
    transition: transform 0.2s ease;
}
.nav-button:hover {
    transform: scale(1.1);
}
.nav-button img{
    height: 80px;
    width: auto;
    display: block;
}
.logo-button img{
    height: 100px;
    width: auto;
}

.icon-button-row {
  display: flex;
  gap: 1rem;        /* smaller than before */
  position: relative;
}
.icon-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}
.icon-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.icon-button:hover {
    transform: scale(1.1);
}
footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    background: #FFF6E8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rights-text{
    color: black;
}